html, body{
	height	: 90%;
	padding	: 0;
	margin	: 0;
}

html body{
	background-color		: #C0DEED;
	background-image: url("img/back.png");
	background-position-x	: 50%;
	background-position-y	: 0%;
	background-repeat		: repeat-x;
}

#body{
	width		: 845px;
	margin		: auto;
	margin-top	: 30px;
}

#body h1{
	text-align	: center;
}

#game_box{
	margin-top	: 50px;
}

body input[type="text"], body input[type="password"]{
	height	: 30px;
}

